.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  height: 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
  position: fixed;
  width: 100vw;
  background: white;
  z-index: 999;
  top: 0;
}

.logo {
  margin-left: 10px;
  cursor: pointer;

  img {
    width: 350px;
  }
}

.nav {
  ul {
    display: flex;
    align-items: center;
    padding: 0;
  }

  li {
    list-style: none;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
  }
}

.login {
  margin-right: 10px;
  display: flex;
  align-items: center;
  button {
    background: transparent;
    border: solid 1px black;
    outline: none;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;

  }

  .notification {
    display: flex;
    align-items: center;
    height: 35px;

    .notificationImg {
      width: 30px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
  .notInfo {
    position: relative;
    p {
      margin: 0;
      background: red;
      color: white;
      width: 15px;
      height: 15px;
      border-radius: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -3px;
      right: 18px;
      font-size: 14px;
    }
  }
}